# EPICS installation dirs
/cfg/
/bin/
/lib/
/db/
/dbd/
/html/
/include/
/templates/
/configure/*.local
envPaths

# EPICS installation dirs in *Top
/*Top/cfg/
/*Top/bin/
/*Top/lib/
/*Top/db/
/*Top/dbd/
/*Top/html/
/*Top/include/
/*Top/templates/
/*Top/configure/*.local

O.*/
/QtC-*
*.orig
*.log
