# OPC UA Generic Server (namespace 0)
# Server information

# Macros:
# P     device prefix
# R     device suffix
# SUBS  subscription name

# static information (always read when connecting)
record(stringin, "$(P)$(R)ManufacturerName") {
  field(DTYP, "OPCUA")
  field(INP, "@$(SUBS) i=2263")
}
record(stringin, "$(P)$(R)ProductName") {
  field(DTYP, "OPCUA")
  field(INP, "@$(SUBS) i=2261")
}
record(stringin, "$(P)$(R)SoftwareVersion") {
  field(DTYP, "OPCUA")
  field(INP, "@$(SUBS) i=2264")
}
